.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo

data/raw/
data/processed/
data/embeddings/
data/vectorstores/
data/tmp/
data/cache/
*.faiss
*.pkl
*.parquet
*.zip

checkpoint/
checkpoints/
*.bin
*.pt
*.safetensors
*.ckpt

.ipynb_checkpoints/
*.nbconvert.ipynb

env/
venv/
.venv/
*.log
*.tmp
*.lock

ehthumbs.db
Desktop.ini

data/image_cache/
*.jpg
*.jpeg
*.png

*.db
*.db-journal
*.sqlite
*.sqlite3
*.parquet
*.npy
*.faiss
*.pkl
*.log
